div.welcome-button {
    background: url("buttons/button-frame.png");
    background-size: cover;
    height: calc(87px / 1.1);
    width: calc(389px / 1.1);

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    
    transition: 0.5s background;
}

div.welcome-button p{
    font-size: 1.5rem;
    
    color: black;
    display: flex;
    align-items: center;
}

div.welcome-button:hover {
    background: url("buttons/button-frame-hover.png");
    background-size: cover;
}