@page "/authors";
@rendermode InteractiveServer

<div class="authors_page">
    <div class="authors_page__authors">
        <AuthorEntry Name="Jakub Pawłowski" ImgSrc="/authors/JakubPawlowski.png"/>
        <AuthorEntry Name="Adam Cedro" ImgSrc="/authors/AdamCedro.png"/>
        <AuthorEntry Name="Bartłomiej Wiśniewski" ImgSrc="/authors/BartlomiejWisniewski.png"/>
        <AuthorEntry Name="Sajmon Koniec" ImgSrc="/authors/SajmonKoniec.png"/>
    </div>
</div>