@font-face {
    font-family: 'PixelifySans';
    src: url('PixelifySans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PixelifySans';
    src: url('PixelifySans-Medium.ttf') format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'PixelifySans';
    src: url('PixelifySans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'PixelifySans';
    src: url('PixelifySans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

