div.graph_visualizer_player{
}

div.graph_visualizer_player__buttons {
    width: 100vw;
    
    position: absolute;
    z-index: 2;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.graph_visualizer_player__buttons button{
    width: 5rem;
    height: 3rem;
    
    border:none;
}

div.graph_visualizer_player__buttons__stats{
    width: 100%;
    
    text-align: center;
}

