@using Drawer.GraphDrawer
@using Plaszczakowo.Drawer.GraphDrawer.Images
@inject IJSRuntime JsRuntime;
@rendermode InteractiveServer

<GraphCanvasImages @ref="_provider" />
<div class="canvas_wrapper">
    <BECanvas Width="CanvasWidth ?? 2560" Height="CanvasHeight ?? 1080" @ref="_canvasReference"/>
</div>

@code {

    [Parameter] public required GraphData Data { get; set; }

    [Parameter] public int? CanvasWidth { get; set; }

    [Parameter] public int? CanvasHeight { get; set; }

    [Parameter] public bool EnableZoom { get; set; } = true;

    private IGraphVertexImageProvider? _provider;
    
    private BECanvasComponent? _canvasReference;

    private Canvas2DContext? _context;

    private GraphDrawer? _drawer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (EnableZoom)
                await EnableCanvasZoom();

            _context = await _canvasReference.CreateCanvas2DAsync();
            _drawer = new GraphDrawer(_context, Data);
            
            _drawer.UpdateVertexImages(_provider!);
            await _drawer!.Draw();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task EnableCanvasZoom()
    {
        await JsRuntime.InvokeAsync<Task>("enableCanvasZoom", null);
    }

    public async void ChangeGraphData(GraphData newGraphData)
    {
        _drawer!.UpdateGraphData(newGraphData);
        _drawer.UpdateVertexImages(_provider!);
        await _drawer!.Draw();
    }

}