@implements IGraphVertexImageProvider

<div style="display: none">
    <img @ref="Factory" src="img/vertex/factory.png"/>
    <img @ref="PlaszczakBackActive" src="img/vertex/plaszczak_back_active.png"/>
    <img @ref="PlaszczakBackHighlighted" src="img/vertex/plaszczak_back_highlighted.png"/>
    <img @ref="PlaszczakBackInactive" src="img/vertex/plaszczak_back_inactive.png"/>
    <img @ref="PlaszczakFrontActive" src="img/vertex/plaszczak_front_active.png"/>
    <img @ref="PlaszczakFrontHighlighted" src="img/vertex/plaszczak_front_highlighted.png"/>
    <img @ref="PlaszczakFrontInactive" src="img/vertex/plaszczak_front_inactive.png"/>
    <img @ref="PlaszczakMusic" src="img/vertex/plaszczak_music.png"/>
    <img @ref="PlaszczakSleeping" src="img/vertex/plaszczak_sleeping.png"/>
</div>

@code{
    public ElementReference Factory { get; private set; }
    public ElementReference PlaszczakBackActive { get; private set; }
    public ElementReference PlaszczakBackHighlighted { get; private set; }
    public ElementReference PlaszczakBackInactive { get; private set; }
    public ElementReference PlaszczakFrontActive { get; private set; }
    public ElementReference PlaszczakFrontHighlighted { get; private set; }
    public ElementReference PlaszczakFrontInactive { get; private set; }
    public ElementReference PlaszczakMusic { get; private set; }
    public ElementReference PlaszczakSleeping { get; private set; }
}
