@using Plaszczakowo.Drawer.GraphDrawer.Images
@implements IGraphVertexImageProvider

<div style="display: none">
    <img @ref="Factory" src="img/vertex/factory.png"/>
    <img @ref="PlaszczakStep1" src="img/vertex/plaszczak_step1.png"/>
    <img @ref="PlaszczakStep2" src="img/vertex/plaszczak_step2.png"/>
    <img @ref="PlaszczakMusic" src="img/vertex/plaszczak_music.png"/>
    <img @ref="PlaszczakSleeping" src="img/vertex/plaszczak_sleeping.png"/>
    <img @ref="PlaszczakiFence" src="img/vertex/plaszczaki_fence.png"/>
    <img @ref="FrontCarrierInactive" src="img/vertex/front_carrier_inactive.png"/>
    <img @ref="FrontCarrierActive" src="img/vertex/front_carrier_active.png"/>
    <img @ref="RearCarrierInactive" src="img/vertex/rear_carrier_inactive.png"/>
    <img @ref="RearCarrierActive" src="img/vertex/rear_carrier_active.png"/>
</div>

@code{
    public ElementReference Factory { get; private set; }
    public ElementReference PlaszczakStep1 { get; private set; }
    public ElementReference PlaszczakStep2 { get; private set; }
    public ElementReference PlaszczakMusic { get; private set; }
    public ElementReference PlaszczakSleeping { get; private set; }
    public ElementReference PlaszczakiFence { get; private set; }
    public ElementReference FrontCarrierInactive { get; private set; }
    public ElementReference FrontCarrierActive { get; private set; }
    public ElementReference RearCarrierInactive { get; private set; }
    public ElementReference RearCarrierActive { get; private set; }
    
}
