@using ProblemVisualizer


<div class="graph_visualizer_player">
    <GraphCanvas 
        CanvasHeight="1920"
        CanvasWidth="1080"
        EnableZoom="true"
        Data="Snapshots.GetCurrentSnapshot()"
        @ref="_canvas" />
    
    <div class="graph_visualizer_player__buttons">
        <button @onclick="OnStartClick">Start</button>
        <button @onclick="OnPrevClick">Prev</button>
        <button @onclick="OnNextClick">Next</button>
        <button @onclick="OnEndClick">End</button>
    </div>
</div>


@code {
    [Parameter] 
    public required ProblemVisualizerSnapshots<GraphDrawer.GraphData> Snapshots { get; set; }

    private GraphCanvas? _canvas;
    
    protected override void OnInitialized()
    {
    }

    private void OnStartClick()
    {
        _canvas!.Data = Snapshots.GoStart();
    }

    private void OnPrevClick()
    {
        _canvas!.Data = Snapshots.Back();
    }

    private void OnNextClick()
    {
        _canvas!.Data = Snapshots.Next();
    }

    private void OnEndClick()
    {
        _canvas!.Data = Snapshots.GoEnd();
    }

}