<div class="return-button @GetHtmlPositionClass()" @onclick="OnHangingButtonClick">
    <div class="return-button__bottom">
        <span>
            @GetButtonContent()
        </span>
    </div>
</div>


@code {
    public enum HangingButtonPosition
    {
        Left = 0,
        Right = 1
    }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    [Parameter] public HangingButtonPosition? ButtonPosition { get; set; }



    private string GetHtmlPositionClass()
    {
        var position = ButtonPosition ?? HangingButtonPosition.Left;
        return position == HangingButtonPosition.Left ? "return-button__left" : "return-button__right";
    }

    protected virtual void OnHangingButtonClick()
    {
    }

    protected virtual string GetButtonContent() => "Kliknij mnie!";

}