<div class="welcome-background">
    <div class="welcome-background__layer" id="first-layer">
        <img src="background/1_layer.png">
        <img src="background/1_layer.png">
    </div>
    <div class="welcome-background__layer" id="second-layer">
        <img src="background/2_layer.png">
        <img src="background/2_layer.png">
    </div>
    <div class="welcome-background__layer" id="third-layer">
        <img src="background/3_layer.png">
        <img src="background/3_layer.png">
    </div>
    <div class="welcome-background__layer" id="fourth-layer">
        <img src="background/4_layer.png">
        <img src="background/4_layer.png">
    </div>
    <div class="welcome-background__layer" id="fifth-layer">
        <img src="background/5_layer.png">
        <img src="background/5_layer.png">
    </div>
    <div class="welcome-background__layer" id="sixth-layer">
        <img src="background/6_layer.png">
        <img src="background/6_layer.png">
    </div>
    <div class="welcome-background__layer" id="seventh-layer">
        <img src="background/7_layer.png">
        <img src="background/7_layer.png">
    </div>
</div>