div.old_button {
    height: 3.7rem;
    
    background-image: url("img/buttons/button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    user-select: none;
}

div.old_button--disabled {
    filter: contrast(50%);
}

div.old_button--disabled:hover {
    filter: contrast(50%);
}

div.old_button:hover {
    filter: brightness(80%);
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}