<div class="old_button" @onclick="onclick" >
    @ChildContent
</div>

@code {

    [Parameter] public required RenderFragment ChildContent { get; set; }

    [Parameter] public required EventCallback<MouseEventArgs> onclick { get; set; }
}