
div.return-button {
    position: absolute;
    top: 0;
    
    width: 8rem;
    height: 4rem;
}

div.return-button__left {
    left: 2rem;
}

div.return-button__right {
    right: 2rem;
    transform: translateX(-8rem);
}

.return-button__top {
    width: 100%;
    height: 2rem;
}

div.return-button__bottom {
    background-image: url("buttons/return-button-bottom.png");
    background-size: cover;
    height: 3rem;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.return-button__bottom span {
    transform: rotateZ(-3deg);
}