<div class="vintage_button" @onclick="onclick" >
    @ChildContent
</div>

@code {

    [Parameter] public required RenderFragment ChildContent { get; set; }

    [Parameter] public required Action onclick { get; set; }
}