div.title {
    width: 40rem;
    height: 5rem;
    background: url("img/title.png") no-repeat;
    background-size: contain;
    
    margin-left: auto;
    margin-right: auto;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

div.title h1 {
    text-align: center;
    color: white;
    margin: 0;
}