<div class="@GetHtmlClass()">
    <Icon Name="fa-file"/>
    <p>
        @GetFileName()
    </p>
</div>

@code {

    [Parameter] public required string FilePath { get; set; }

    [Parameter] public bool? Selected { get; set; }

    private string GetFileName()
    {
        return Path.GetFileName(FilePath);
    }

    private string GetHtmlClass()
    {
        return "file " + (Selected ?? false ? "file--active" : "");
    }

}