<div class="file">
    <Icon Name="fa-file" />
    <p>
        @GetFileName()
    </p>
</div>

@code {

    [Parameter] 
    public required string FilePath { get; set; }

    private string GetFileName() => Path.GetFileName(FilePath);
}