div.file {
    width: 100vw;
    height: 3rem;
    padding: 0 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    user-select: none;

    cursor: pointer;
    font-weight: bold;

    transition: background-color 0.2s;
}

div.file--active {
    background-color: #00000078;
    color: white;
}

div.file:nth-child(even) {
    background-color: gray;
}