
div.visualizer_buttons {
    background: url("visualizer/step_back.png") no-repeat;
    background-size: cover;
    
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    
    width: 100vw;

    position: fixed;
    z-index: 2;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    padding: 0 1rem;
}

div.visualizer_buttons img {
    height: 4rem;

    border: none;

    cursor: pointer;
}

div.visualizer_buttons img:hover {
    filter: brightness(80%);
}

div.visualizer_stats {
    width: 100%;

    text-align: center;
}

