@using ProblemVisualizer
@using Drawer
@typeparam TDrawerData where TDrawerData : DrawerData

<div class="visualizer_buttons">
    <img @onclick="OnStartClick" src="visualizer/step_ll.png"/>
    <img @onclick="OnPrevClick" src="visualizer/step_l.png"/>
    <div class="visualizer_stats">
        <p>
            Slajd
            @(Snapshots.GetCurrentSnapshotId() + 1)
            na
            @(Snapshots.Count)
        </p>
    </div>
    <img @onclick="OnNextClick" src="visualizer/step_r.png"/>
    <img @onclick="OnEndClick" src="visualizer/step_rr.png"/>
</div>

@code {

    [Parameter] public required ProblemVisualizerSnapshots<TDrawerData> Snapshots { get; set; }

    [Parameter] public required Action<TDrawerData> OnSnapshotChange { get; set; }

    private void OnStartClick()
    {
        OnSnapshotChange(Snapshots.GoStart());
    }

    private void OnNextClick()
    {
        OnSnapshotChange(Snapshots.Next());
    }

    private void OnPrevClick()
    {
        OnSnapshotChange(Snapshots.Prev());
    }

    private void OnEndClick()
    {
        OnSnapshotChange(Snapshots.GoEnd());
    }

}