div.input_choice {
    text-align: center;
    background-color: #e6e6e6;
    
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 2rem;

    cursor: pointer;
    transition: 0.5s background-color;
}

div.input_choice img {
    height: 15rem;
    aspect-ratio: 1 / 1;
}

div.input_choice:hover {
    background-color: #b8b8b8;
}