@inject NavigationManager Navigator;

<div class="input_choice" @onclick="OnClick">
    <img src="authors/AdamCedro.png"/>
    <h3>
        @Title
    </h3>
    <p>
        @Description
    </p>
</div>

@code {
    [Parameter] public required string Title { get; set; }

    [Parameter] public required string Description { get; set; }

    [Parameter] public required string Href { get; set; }

    private void OnClick()
    {
        Navigator.NavigateTo(Href);
    }
}