.transition {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;

}
.transitioned {
    z-index: 1;
    background-color: white;

}
.transitioned_behind {
    z-index: 0;
    background-color: white;

}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
