@using Drawer.TextReplaceDrawer
@inherits VisualizerComponentBase<TextReplaceData>;
@inject IJSRuntime JsRuntime;

<div class="text-list-wrapper">
    <div class="text-list">
        @if (_currentTextReplaceData is not null)
        {
            @foreach (var currentChar in _currentTextReplaceData.Chars)
            {
                <TextReplaceVisualizerChar Content="@currentChar"/>
            }
        }
    </div>
</div>
<VisualizerButtons
    TDrawerData="TextReplaceData"
    Snapshots="Snapshots"
    OnSnapshotChange="OnSnapshotChange"/>

@code {
    private TextReplaceData? _currentTextReplaceData;

    protected override void OnInitialized()
    {
        _currentTextReplaceData = Snapshots.GetCurrentSnapshot();
    }

    protected override void OnSnapshotChange(TextReplaceData newDrawerData)
    {
        _currentTextReplaceData = newDrawerData;
        JsRuntime.InvokeAsync<Task>("scrollTextList", _currentTextReplaceData.Offset);
        StateHasChanged();
    }

}