@using Plaszczakowo.Drawer.TextReplaceDrawer
<div class="letter" style="@GetStyle()">
    @Content.Content
</div>

@code {
    [Parameter] public required TextReplaceChar Content { get; set; }

    private string GetStyle()
    {
        var state = Content.State;
        return $"border-color: {state.GetFontColor()};" +
               $"color: {state.GetFontColor()};" +
               $"background-color: {state.GetBackgroundColor()};" +
               $"font-weight: {(state.IsBold() ? "bold" : "normal")};";
    }

}