<div class="toolbox">
    <GraphCreatorTool
        ToolName="Dodaj wierzchołek"
        IconName="fa-map-pin"
        Mode="GraphCreatorMode.AddVertex"
        Selected="SelectedMode is GraphCreatorMode.AddVertex"
        OnSelect="OnToolSelect"/>
    <GraphCreatorTool
        ToolName="Połącz wierzchołki"
        IconName="fa-circle-nodes"
        Mode="GraphCreatorMode.ConnectFirstEdge"
        Selected="SelectedMode is GraphCreatorMode.ConnectFirstEdge or GraphCreatorMode.ConnectSecondEdge"
        OnSelect="OnToolSelect"/>
    <GraphCreatorTool
        ToolName="Zmień wartość"
        IconName="fa-pen"
        Mode="GraphCreatorMode.ChangeVertexValue"
        Selected="SelectedMode is GraphCreatorMode.ChangeVertexValue"
        OnSelect="OnToolSelect"/>
    <GraphCreatorTool
        ToolName="Usuń wierzchołek"
        IconName="fa-trash"
        Mode="GraphCreatorMode.Remove"
        Selected="SelectedMode is GraphCreatorMode.Remove"
        OnSelect="OnToolSelect"/>
</div>

@code {
    [Parameter] public required Action<GraphCreatorMode> OnToolSelect { get; set; }

    [Parameter] public GraphCreatorMode SelectedMode { get; set; }
}