<div class="@GetHtmlClass()" @onclick="OnToolClick">
    <p>
        <Icon Name="@IconName" Size="16"/>
        @ToolName
    </p>
</div>

@code {

    [Parameter] public required string ToolName { get; set; }

    [Parameter] public required string IconName { get; set; }

    [Parameter] public required Action<GraphCreatorMode> OnSelect { get; set; }

    [Parameter] public required GraphCreatorMode Mode { get; set; }

    [Parameter] public bool Selected { get; set; }


    private string GetHtmlClass()
    {
        return $"tool {(Selected ? "tool__selected" : "")}";
    }

    private void OnToolClick()
    {
        OnSelect(Mode);
    }

}