@page "/text_input_choice/{ProblemName}"
@inherits InputChoiceBase

<LandscapeBackground/>
<div class="input_choice_page">
    <ReturnButton/>
    <WoodenTitle>
        Wybierz sposób wprowadzenia tekstu
    </WoodenTitle>

    <div class="horizontal_centered_row">
        <InputChoice
            Title="Plik"
            Description="Wybierz plik z wcześniej zapisanymi danymi wejściowymi."
            Href="@GetFromFileLink()"/>
        <InputChoice
            Title="Klawiatura"
            Description="Wprowadź dane wejściowe z klawiatury."
            Href="@GetFromKeyboardLink()"/>
    </div>
</div>