@page "/graph_input_choice/{ProblemName}"
@inherits InputChoiceBase

<LandscapeBackground/>
<div class="input_choice_page">
    <ReturnButton/>
    <InputChoiceTitle>
        Wybierz sposób wprowadzenia grafu
    </InputChoiceTitle>

    <div class="horizontal_centered_row">
        <InputChoice
            Title="Plik"
            Description="Wybierz plik odpowiadający zapisanemu wcześniej grafowi."
            Href="@GetFromFileLink()"/>
        <InputChoice
            Title="Kreator grafów"
            Description="Skorzystaj z kreatora grafów aby stworzyć dane wejściowe."
            Href="@GetGraphCreatorLink()"/>
    </div>
</div>