
div.title h1 {
    padding-left: 2rem;
    margin: 0;
}

div.title {
    height: 15vh;
    
    display: flex;
    align-items: center;
    background: url("img/background/wall_background.png");
    
    color: white;
    
}

div.files {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 75vh;
    
    background: url("img/background/map_bright.png");
}

div.buttons {
    background: url("img/background/wall_background.png");

    height: 10vh;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}