@page "/carrier_assignment_output"
@using Problem.FenceTransport
@using States
@inherits ProblemOutputBase<CarrierAssignmentOutput>

@inject NavigationManager Navigation

<h2>Pary dopasowanych przewoźników:</h2>
<table>
    
    <thead>
        <tr>
            <th>Ręce z przodu</th>
            <th>Ręce z tyłu</th>
        </tr>
    </thead>
    <tbody>
        @if (_outputData != null)
        {
            @foreach (var pair in _outputData.Pairs)
            {
                <tr>
                    <td>@pair.First</td>
                    <td>@pair.Second</td>
                </tr>
            }
        }
    </tbody>
</table>
<OldButton @onclick="NextProblem">Następny problem</OldButton>

@code {
    CarrierAssignmentOutput? _outputData;

    protected override async Task OnInitializedAsync()
    {
        if (ProblemState is null) 
            throw new NullReferenceException("ProblemState is null");
        
        _outputData = await ProblemState.GetProblemOutputData<CarrierAssignmentOutput>();
        var inputData = await ProblemState.GetProblemInputData<FenceTransportInputData>();
        inputData.CarrierAssignmentOutput = _outputData;
        ProblemState.SetProblemInputData(inputData);
    }
    private void NextProblem()
    {
        Navigation.NavigateTo("convex_hull");
    }
}