div.convex_hull {
    width: 100vw;
    height: 100vh;
    background: url("img/background/map.png");
    
}

div.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    z-index: 5;
}

div.next_button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}