@page "/convex_hull_output"
@using Drawer.GraphDrawer
@using Problem.FenceTransport
@using ProjektZaliczeniowy_AiSD2.States
@inherits ProblemOutputBase<ConvexHullOutput>

@inject NavigationManager Navigation
@inject IFenceState FenceState

<div class="convex_hull">
    <div class="title">
        <WoodenTitle>Otoczka wypukła</WoodenTitle>
    </div>
    <GraphCanvas Data="ConvexHull"/>

    <div class="next_button">
        <OldButton @onclick="NextProblem">Przejdź Dalej</OldButton>
    </div>
</div>

@code {
    private ConvexHullOutput? _outputData;

    private FenceTransportInputData? _inputData;

    private GraphData ConvexHull { get; set; } = new();

    protected override void OnInitialized()
    {
        if (ProblemState is not null)
        {
            _outputData = ProblemState.GetProblemOutputData<ConvexHullOutput>();
            _inputData = ProblemState.GetProblemInputData<FenceTransportInputData>();
            _inputData.ConvexHullOutput = _outputData;
            ProblemState.SetProblemInputData(_inputData);
            SaveFenceToFenceState();
        }
    }

    protected override void OnParametersSet()
    {
        GetConvexHullGraphData();
    }

    private void GetConvexHullGraphData()
    {
        if (_outputData is not null && _inputData is not null) 
            ConvexHull = _outputData.ToGraphData(_inputData, false);
    }
    
    private void SaveFenceToFenceState()
    {
        FenceState.SetFence(_inputData!, _outputData!);
    }
    
    private void NextProblem()
    {
        Navigation.NavigateTo("fence_transport");
    }
    
}