@page "/fence_transport_output"
@using Problem.FenceTransport
@using ProjektZaliczeniowy_AiSD2.States
@using ProblemResolver
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits ProblemOutputBase<FenceTransportOutput>

@inject NavigationManager Navigation
@inject IProblemState ProblemState

<div class="fence_transport">
    @if (_outputData != null)
    {
        <WoodenTitle>Czas budowy płotu</WoodenTitle>
        @if (_outputData.HoursToBuild < 0)
        {
            <WoodenTitle>Nie da sie zbudować płotu!</WoodenTitle>
        }
        else
        {
            <div class="clock_wrapper">
                <div class="clock">
                    @(GetClockText())
                </div>
            </div>
        }
    }


    <div class="next_button">
        <OldButton @onclick="NextProblem">Przejdź Dalej</OldButton>
    </div>
    <div class="return_button">
        <OldButton @onclick="ReturnBack">Zakończ</OldButton>
    </div>
</div>

@code {
    FenceTransportOutput? _outputData;

    protected override async Task OnInitializedAsync()
    {
        _outputData = await ProblemState.GetProblemOutputData<FenceTransportOutput>();
        var inputData = await ProblemState.GetProblemInputData<FenceTransportInputData>();
        await ProblemState.SetProblemInputData(inputData);
    }

    private string GetClockText()
    {
        var output = $"{_outputData?.HoursToBuild ?? 0}:00";
        if (_outputData?.HoursToBuild < 10)
            output = "0" + output;
        return output;
    }

    private void NextProblem()
        => Navigation.NavigateTo("/input/graphcreator/guard_schedule");

    private void ReturnBack()
        => Navigation.NavigateTo("/");

}