@page "/guard_schedule_output"
@using Problem.GuardSchedule
@inherits ProblemOutputBase<GuardScheduleOutput>

<h2>Grafik strażników:</h2>
<table>

    <thead>
    <tr>
        <th>Energia</th>
        <th>Melodia</th>
    </tr>
    </thead>
    <tbody>
    @if (Output is not null)
    {
        @foreach (var p in Output.Plaszczaki)
        {
            <tr>
                <td>@p.MaxEnergy</td>
                <td>@p.Melody</td>
            </tr>
        }
    }

    </tbody>
</table>