@page "/guard_schedule_output"
@using Problem.GuardSchedule
@using States
@using ProblemResolver
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject IProblemState ProblemState

<h2>Grafik strażników:</h2>
<table>
    
    <thead>
        <tr>
            <th>Energia</th>
            <th>Melodia</th>
        </tr>
    </thead>
    <tbody>
        @if (outputData != null)
        {
            @foreach (var p in outputData.Plaszczaki)
            {
                <tr>
                    <td>@p.MaxEnergy</td>
                    <td>@p.Melody</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    GuardScheduleOutput outputData;

    protected override async Task OnInitializedAsync()
    {
        outputData = await ProblemState.GetProblemOutputData<GuardScheduleOutput>();
        Console.WriteLine(outputData.Plaszczaki.Count);
    }
}
