@page "/carrier_assignment"

@using Plaszczakowo.Problems.FenceTransport
@using Plaszczakowo.Problems.FenceTransport.Input
@inherits ProblemComponentBase<FenceTransportInputData, Plaszczakowo.Problems.FenceTransport.Output.CarrierAssignmentOutput, Plaszczakowo.Drawer.GraphDrawer.GraphData>

<div class="map-background">
    @if (Executor is not null)
    {
        <GraphVisualizer Snapshots="Executor.GetSnapshots()"/>
        <ReturnButton/>
        <OutputButton ButtonPosition="HangingButton.HangingButtonPosition.Right" ButtonProblem="OutputButton.OutputButtonProblem.CarrierAssignment"/>
    }
</div>


@code {

    protected override void InitializeResolver()
    {
        Resolver = new CarrierAssignmentResolver();
    }

    protected override void InitializeFirstSnapshotCreator(FenceTransportInputData inputData)
    {
        FirstSnapshotCreator = new CarrierAssignmentFirstSnapshotCreator(inputData);
    }

}