@page "/computer_science_machine"
@using Drawer.TextReplaceDrawer
@using Problem.PhraseCorrection
@inherits ProblemComponentBase<PhraseCorrectionInputData, PhraseCorrectionOutput, TextReplaceData>

<div class="wall-background">
    @if (Executor is not null)
    {
        <TextReplaceVisualizer Snapshots="Executor.GetSnapshots()" />
        <ReturnButton/>
        <OutputButton ButtonPosition="HangingButton.HangingButtonPosition.Right" ButtonProblem="OutputButton.OutputButtonProblem.PhraseCorrection"/>
    }
</div>

@code {

    protected override void InitializeResolver()
    {
        Resolver = new PhraseCorrectionResolver();
    }

    protected override void InitializeFirstSnapshotCreator(PhraseCorrectionInputData inputData)
    {
        FirstSnapshotCreator = new FirstPhraseCorrectionSnapshotCreator(inputData);
    }

}