@page "/convex_hull";

@using Plaszczakowo.Problems.FenceTransport
@using Plaszczakowo.Problems.FenceTransport.Input
@using Plaszczakowo.Problems.FenceTransport.Output
@using Plaszczakowo.Drawer.GraphDrawer

@inherits ProblemComponentBase<FenceTransportInputData, ConvexHullOutput, GraphData>

<div class="map-background">
    @if (Executor is not null)
    {
      <GraphVisualizer Snapshots="Executor.GetSnapshots()"/>
      <ReturnButton/>
      <OutputButton ButtonPosition="HangingButton.HangingButtonPosition.Right" ButtonProblem="OutputButton.OutputButtonProblem.ConvexHull"/>
    }
</div>


@code {

    protected override void InitializeResolver()
    {
        Resolver = new ConvexHullResolver();
    }

    protected override void InitializeFirstSnapshotCreator(FenceTransportInputData inputData)
    {
        FirstSnapshotCreator = new ConvexHullFirstSnapshotCreator(inputData);
    }

}