@page "/demo"
@using Problem.Demo
@inherits ProblemComponentBase<DemoInputData, DemoProblemOutput, Drawer.GraphDrawer.GraphData>

<div class="demo">
    @if (Executor is not null)
    {
        <GraphVisualizer Snapshots="Executor.GetSnapshots()"/>
    }
</div>


@code {

    protected override void InitializeResolver()
    {
        Resolver = new DemoResolver();
    }

    protected override void InitializeFirstSnapshotCreator(DemoInputData inputData)
    {
        FirstSnapshotCreator = new FirstDemoSnapshotCreator(inputData);
    }

}