@page "/guard_schedule"
@using Problem.GuardSchedule
@inherits ProblemComponentBase<GuardScheduleInputData, GuardScheduleOutput, Drawer.GraphDrawer.GraphData>

@if (Executor is not null)
{
    <div class="custom-overflow">
        <GraphVisualizer Snapshots="Executor.GetSnapshots()" />
        <ReturnButton/>
        <OutputButton ButtonPosition="OutputButton.OutputButtonPosition.Right" ButtonProblem="OutputButton.OutputButtonProblem.GuardSchedule"/>
    </div>
}

@code {

    protected override void InitializeResolver()
    {
        Resolver = new GuardScheduleResolver();
    }
    
    protected override void InitializeFirstSnapshotCreator(GuardScheduleInputData inputData)
    {
        FirstSnapshotCreator = new FirstGuardScheduleSnapshotCreator(inputData);
    }

}