@page "/guard_schedule"
@using Problem.GuardSchedule
@inherits ProblemComponentBase<GuardScheduleInputData, GuardScheduleOutput, Drawer.GraphDrawer.GraphData>

<div>
    <NavLink href="/guard_schedule_output">
        Grafik stra¿ników
    </NavLink>
</div>

@if (Executor is not null)
{
    <GraphVisualizer Snapshots="Executor.GetSnapshots()" />
}

@code {

    protected override void InitializeResolver()
    {
        Resolver = new GuardScheduleResolver();
    }
    
    protected override void InitializeFirstSnapshotCreator(GuardScheduleInputData inputData)
    {
        FirstSnapshotCreator = new FirstGuardScheduleSnapshotCreator(inputData);
    }

}