@page "/guard_schedule"


@using Plaszczakowo.Problems.GuardSchedule
@using Plaszczakowo.Problems.GuardSchedule.Input
@using Plaszczakowo.Problems.GuardSchedule.Output
@using Plaszczakowo.Drawer.GraphDrawer

@inherits ProblemComponentBase<GuardScheduleInputData, GuardScheduleOutput, GraphData>

<div class="map-background">
    @if (Executor is not null)
    {
        <GraphVisualizer Snapshots="Executor.GetSnapshots()"/>
        <ReturnButton/>
        <OutputButton ButtonPosition="HangingButton.HangingButtonPosition.Right" ButtonProblem="OutputButton.OutputButtonProblem.GuardSchedule"/>
    }
</div>


@code {

    protected override void InitializeResolver()
    {
        Resolver = new GuardScheduleResolver();
    }

    protected override void InitializeFirstSnapshotCreator(GuardScheduleInputData inputData)
    {
        FirstSnapshotCreator = new FirstGuardScheduleSnapshotCreator(inputData);
    }

}