@page "/guard_schedule"
@rendermode InteractiveServer
@using Drawing.Components.Pages
@using Problem.GuardSchedule;

<h1>Grafik strażników</h1>
<BECanvas Width="1920" Height="1080" @ref="_canvasReference"></BECanvas>

@code {
    private GuardScheduleResolver resolver = new();
    private Canvas2DContext? _context;
    private DrawGraph? graph;
    protected BECanvasComponent? _canvasReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();

        await this._context.TranslateAsync(0.5, 0.5);


        var input = FenceCreator.CreateEdges(15);

        graph = new DrawGraph(_context, ref input);

        await graph.Draw();


        for (int i = 1; i < 15; i++)
        {
            await graph.ChangeEdgeStatus(i - 1, GraphStates.Active);

            await graph.ChangeVerticeStatus(i, GraphStates.Highlighted);
            await graph.ChangeVerticeStatus(i - 1, GraphStates.Active);


            await Task.Delay(TimeSpan.FromSeconds(1));
        }

    }
}