@page "/huffman_coding"

@using Plaszczakowo.Problems.HuffmanCoding
@using Plaszczakowo.Problems.HuffmanCoding.Input
@inherits ProblemComponentBase<HuffmanCodingInputData, Plaszczakowo.Problems.HuffmanCoding.Output.HuffmanCodingOutput, Plaszczakowo.Drawer.GraphDrawer.GraphData>

<div class="map-background">
    @if (Executor is not null)
    {
        <GraphVisualizer Snapshots="Executor.GetSnapshots()"/>
        <ReturnButton/>
        <OutputButton ButtonPosition="HangingButton.HangingButtonPosition.Right" ButtonProblem="OutputButton.OutputButtonProblem.HuffmanCoding"/>
    }
</div>

@code {

    protected override void InitializeResolver()
    {
        Resolver = new HuffmanCodingResolver();
    }

    protected override void InitializeFirstSnapshotCreator(HuffmanCodingInputData inputData)
    {
        FirstSnapshotCreator = new FirstHuffmanCodingSnapshotCreator(inputData);
    }

}