@page "/"
@using System.Text.Json
@using Problem.PhraseCorrection
@using ProjektZaliczeniowy_AiSD2.Components.Pages.Welcome.Components
@rendermode InteractiveServer

<div class="welcome">
    <div class="main-menu">
        <div class="main-menu__title">
            <h1>Płaszczakowo</h1>
        </div>
        <div class="main-menu__buttons">
            <NavLink class="white-link" href="/text_input_choice/computer_science_machine">
                <WelcomeButton>Maszyna informatyka</WelcomeButton>
            </NavLink>
            <NavLink class="white-link" href="/graph_input_choice/guard_schedule">
                <WelcomeButton>Grafik strażników</WelcomeButton>
            </NavLink>
            <NavLink class="white-link" href="/graph_input_choice/carrier_assignment">
                <WelcomeButton>Transportowanie płotu</WelcomeButton>
            </NavLink>
            <NavLink class="white-link" href="/graph_input_choice/demo">
                <WelcomeButton>Demo</WelcomeButton>
            </NavLink>
        </div>
        <div class="main-menu__bottom">
            <ul>
                <NavLink class="white-link" href="authors">
                    <li>
                        <Icon Name="fa-info"/>
                    </li>
                </NavLink>
            </ul>
        </div>
    </div>
    <WelcomeBackground/>
</div>