@page "/"
@using System.Text.Json
@using Problem.Demo
@using ProblemResolver.Graph
@using ProjektZaliczeniowy_AiSD2.Components.Pages.Welcome.Components
@rendermode InteractiveServer

<div class="welcome">
    <div class="main-menu">
        <div class="main-menu__title">
            <h1>Płaszczakowo</h1>
        </div>
        <div class="main-menu__buttons">
            <ul>
                <NavLink class="white-link" href="/text_input_choice/computer_science_machine">
                    <li>Maszyna informatyka</li>
                </NavLink>
                <NavLink class="white-link" href="/graph_input_choice/guard_schedule">
                    <li>Grafik strażników</li>
                </NavLink>
                <NavLink class="white-link" href="/graph_input_choice/carrier_assignment">
                    <li>Transport płotu</li>
                </NavLink>
                <NavLink class="white-link" href="/graph_input_choice/demo">
                    <li>Demo</li>
                </NavLink>
            </ul>
        </div>
        <div class="main-menu__bottom">
            <ul>
                <NavLink class="white-link" href="authors">
                <li>
                    <Icon Name="fa-info" />
                </li>
                </NavLink>
            </ul>
        </div>
    </div>
    <WelcomeBackground />
</div>