@page "/"
@using ProjektZaliczeniowy_AiSD2.Components.Modals.Documentation
@using ProjektZaliczeniowy_AiSD2.Components.Pages.Welcome.Components
@rendermode InteractiveServer

<div class="welcome">
    <div class="main-menu">
        <div class="main-menu__title">
            <h1>Płaszczakowo</h1>
        </div>
        <div class="main-menu__buttons">
            <NavLink class="white-link" href="/text_input_choice/computer_science_machine">
                <WelcomeButton>Maszyna informatyka</WelcomeButton>
            </NavLink>
            <NavLink class="white-link" href="/graph_input_choice/guard_schedule">
                <WelcomeButton>Grafik strażników</WelcomeButton>
            </NavLink>
            <NavLink class="white-link" href="/graph_input_choice/carrier_assignment">
                <WelcomeButton>Transportowanie płotu</WelcomeButton>
            </NavLink>
        </div>
        <div class="main-menu__bottom">
            <NavLink href="/authors">
                <p class="icon">
                    <Icon Name="fa-info"/>
                </p>
            </NavLink>
            <p class="icon" @onclick="ShowDocumentation">
                <Icon Name="fa-book"/>
            </p>
        </div>
    </div>
    <LandscapeBackground/>
</div>

@code {

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private void ShowDocumentation()
    {
        Modal.Show<Documentation>();
    }
}