div.welcome {
    width: 100vw;
    height: 100vh;
}

div.main-menu {
    position: absolute;
    display: flex;

    width: 100vw;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.main-menu__buttons {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

div.main-menu__title {
    margin-top: 5%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.main-menu__title h1 {
    margin: 0;
    font-family: 'PixelifySans', sans-serif;
    text-align: center;

    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

    animation-name: title-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    user-select: none;
}

div.main-menu__title h1:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.icon {
    background-color: #483C32;
    padding: 0.5rem 1.5rem;

    /* Text */
    text-align: center;
    font-size: 16pt;

    /* Border */
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 9pt;

    cursor: pointer;
    transition: background-color 0.5s;
}

.icon:hover {
    background-color: #746050;
}

div.main-menu__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;


}

div.main-menu__bottom .icon {
    margin: 0;
    color: lightgray;
    width: 24pt;

    margin-right: 20pt;
    margin-bottom: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main-menu__bottom svg {
    height: 24pt;
}

@keyframes title-animation {
    0% {
        font-size: 50pt;
        transform: rotate(-0.025turn);
    }
    50% {
        font-size: 60pt;
        transform: rotate(0.025turn);
    }
    100% {
        font-size: 50pt;
        transform: rotate(-0.025turn);
    }
}
