@using Drawer.GraphDrawer
@inherits VisualizerComponentBase<GraphData>

<div class="visualizer_player">
    <GraphCanvas
        CanvasHeight="720"
        CanvasWidth="1280"
        EnableZoom="true"
        Data="_currentGraphData"
        @ref="_graphCanvas"/>

    <VisualizerButtons
        TDrawerData="GraphData"
        Snapshots="Snapshots"
        OnSnapshotChange="OnSnapshotChange"/>

</div>

@code {

    private GraphData? _currentGraphData;

    private GraphCanvas? _graphCanvas;

    protected override void OnInitialized()
    {
        _currentGraphData = Snapshots.GetCurrentSnapshot();
    }

    protected override void OnSnapshotChange(GraphData newDrawerData)
    {
        _graphCanvas!.ChangeGraphData(newDrawerData);
    }

}