@using Drawer.GraphDrawer
@inherits VisualizerComponentBase<GraphData>

<div class="visualizer_player">
    <GraphCanvas
        CanvasWidth="CanvasWidth ?? 1920"
        CanvasHeight="CanvasHeight ?? 1280"
        EnableZoom="true"
        Data="_currentGraphData"
        @ref="_graphCanvas"/>

    <VisualizerButtons
        TDrawerData="GraphData"
        Snapshots="Snapshots"
        OnSnapshotChange="OnSnapshotChange"/>

</div>

@code {
    [Parameter] public int? CanvasWidth { get; set; } 
    
    [Parameter] public int? CanvasHeight { get; set; } 

    private GraphData? _currentGraphData;

    private GraphCanvas? _graphCanvas;

    protected override void OnInitialized()
    {
        _currentGraphData = Snapshots.GetCurrentSnapshot();
    }

    protected override void OnSnapshotChange(GraphData newDrawerData)
    {
        _graphCanvas!.ChangeGraphData(newDrawerData);
    }

}