@page "/autors";
@rendermode InteractiveServer
<h1>Autorzy</h1>

<div class="autors">
    <div class="autors__entry">
        <div class="autors__entry__image"></div>
        <div class="autors__entry__name">
            Jakub Pawłowski
        </div>    
    </div>
    <div class="autors__entry">
        <div class="autors__entry__image"></div>
        <div class="autors__entry__name">
            Adam Cedro
        </div>  
    </div>
    <div class="autors__entry">
        <div class="autors__entry__image"></div>
        <div class="autors__entry__name">
            Bartłomiej Wiśniewski
        </div>  
    </div>
    <div class="autors__entry">
        <div class="autors__entry__image"></div>
        <div class="autors__entry__name">
            Sajmon Koniec
        </div>  
    </div>
</div>