@page "/"

<h1> Projekt </h1>

<ul>
    <li><NavLink href="/computer_science_machine">Maszyna informatyka</NavLink></li>
    <li><NavLink href="/guard_schedule">Grafik strażników</NavLink></li>
    <li><NavLink href="/fence_transport">Transport płotu</NavLink></li>
</ul>

@code {

}