<div class="change-vertex-value">
    <h2>Podaj wartość wierzchołka</h2>
    <input type="number" @bind="@Number"/>
    <OldButton @onclick="Save">Zapisz</OldButton>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public int Number { get; set; }


    private void Save()
    {
        BlazoredModal.CloseAsync(ModalResult.Ok(Number));
    }

}