@using ProjektZaliczeniowy_AiSD2.Components.Pages.Input.InputMethods.GraphCreatorInput.Validator
<div class="graph-validator-errors">
    <h2>Musisz naprawić poniższe problemy z grafem</h2>
    <ul>
        @foreach (var error in Errors)
        {
            <li class="validator-error">@error.Content</li>
        }
    </ul>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public List<GraphValidatorError> Errors { get; set; } = [];

}