div.graph-validator-errors {
    width: 100%;
    height: 100%;

    padding: 1rem 2rem;

    background-image: url("img/background/map.png");
    background-size: cover;
    background-repeat: no-repeat;
}

li.validator-error {
    font-size: large;
    font-weight: bold;
    color: red;
}