div.save_input {
    background: url("img/background/map.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

div.save_input input {
    font-size: large;
}