@page "/autors";
@using ProjektZaliczeniowy_AiSD2.Components.Pages.Autors.Components
@rendermode InteractiveServer
<h1>Autorzy</h1>

<div class="autors">
    <AutorEntry Name="Jakub Pawłowski"  />
    <AutorEntry Name="Adam Cedro" ImgSrc="/autors/AdamCedro.png" />
    <AutorEntry Name="Bartłomiej Wiśniewski" />
    <AutorEntry Name="Sajmon Koniec" />
</div>