a.white-link {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
}

.horizontal_centered_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.center {
    text-align: center;
}