* {
    box-sizing: border-box;
    font-family: 'Dekko', cursive;
}

.full-modal {
    width: 90vw;
    height: 90vh;
}

a.white-link {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
}

.horizontal_centered_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.center {
    text-align: center;
}

.input_choice_page {
    position: absolute;
    z-index: 10;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-image: url("background/vinnette.png");
}