.blazored-modal {
    background-color: #483C32 !important;
    background-image: url("background/modal_background.png");
    background-size: cover;
    border-style: none !important;
}

.bm-header {
    padding-bottom: 0 !important;
}

.bm-header button {
    font-size: xx-large !important;
    transform: translateY(-1rem);
    color: white !important;
}

