@page "/authors";
@using ProjektZaliczeniowy_AiSD2.Components.Pages.Authors.Components
@rendermode InteractiveServer
<h1>Autorzy</h1>

<div class="authors">
    <AuthorEntry Name="Jakub Pawłowski" />
    <AuthorEntry Name="Adam Cedro" ImgSrc="/authors/AdamCedro.png" />
    <AuthorEntry Name="Bartłomiej Wiśniewski" />
    <AuthorEntry Name="Sajmon Koniec" ImgSrc="/authors/SajmonKoniec.png"/>
</div>