h1 {
    font-size: xx-large;
    text-align: center;
    padding-top: 2rem;
}

div.authors_page {
    width: 100vw;
    height: 100vh;

    color: white;

    background: url("authors/background.png");
    background-size: cover;
}

div.authors_page h1:first-child {
    margin-top: 0;
}

div.authors_page__authors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
}
