@page "/authors";
@rendermode InteractiveServer

<ReturnButton />
<div class="authors_page">
    <h1>Autorzy</h1>
    <div class="authors_page__authors">
        <AuthorEntry Name="Jakub Pawłowski" ImgSrc="/img/JakubPawlowski.png"/>
        <AuthorEntry Name="Adam Cedro" ImgSrc="/img/AdamCedro.png"/>
        <AuthorEntry Name="Bartłomiej Wiśniewski" ImgSrc="/img/BartlomiejWisniewski.png"/>
        <AuthorEntry Name="Sajmon Koniec" ImgSrc="/img/SajmonKoniec.png"/>
    </div>
</div>