@page "/authors";
@using ProjektZaliczeniowy_AiSD2.Components.Pages.Authors.Components
@rendermode InteractiveServer

<div class="authors_page">
    <h1>Autorzy</h1>

    <div class="authors_page__authors">
        <AuthorEntry Name="Jakub Pawłowski" ImgSrc="/authors/JakubPawlowski.png" />
        <AuthorEntry Name="Adam Cedro" ImgSrc="/authors/AdamCedro.png" />
        <AuthorEntry Name="Bartłomiej Wiśniewski"  ImgSrc="/authors/BartlomiejWisniewski.png" />
        <AuthorEntry Name="Sajmon Koniec" ImgSrc="/authors/SajmonKoniec.png" />
    </div>
</div>
