div.authors__entry {
    width: 15rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.authors__entry__image {
    width: 100%;
    height: 80%;
    background-color: white;
}

div.authors__entry__image  img{
    width: 100%;
    height: 100%;
}

div.authors__entry__name {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}